{% extends "base.html" %}
{% block content %}

    <section>
        <h3>Events</h3>
        <div id="events--lists">
            {% for event in events %}
            <a href="{% url 'event' event.id %}">
                <div>
                    {{event.name}}
                </div>
                {% endfor %}
            </a>
        </div>
    </section>

    <section>
        <h3>Users</h3>
        <div id="user--lists">
            {% for user in users %}
            <div>
                {{user.name}}
            </div>
            {% endfor %}
        </div>
    </section>
    
{% endblock %}