{% extends "base.html" %}
{% block content %}

    <section>
        <h3>Events</h3>
        <div id="events--lists">
            {% for event in events %}
            <div>
                {{event.name}}
            </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <h3>Users</h3>
        <div id="user--lists">
            {% for user in users %}
            <div>
                {{user.name}}
            </div>
            {% endfor %}
        </div>
    </section>
    
{% endblock %}